{% extends 'survey_app/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<form method = "POST" action="">
    {% csrf_token %}
  {% if validlink %}

  <div class="register-container">
    <h2>Verification</h2>
    <hr>
    <!--{{form|crispy}}-->
    
    <label for="new_password1"><b>New password*</b></label>
    {{form.new_password1}}
    <div class="invalid-feedback">{{form.new_password1.errors}}</div>

	  <label for="new_password2"><b>New password Confirmation*</b></label>
    {{form.new_password2}}
    <div class="invalid-feedback">{{form.new_password2.errors}}</div>
    <hr>

    <button type="submit" onclick="this.disabled=true;this.value='Submitting...'; this.form.submit();" class="registerbtn">Verify</button>
  </div>
  {% else %}
    <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
        
    <a href="{% url 'home' %}"><button class="button">Back to Home</button></a>

    {% endif %}

</form>
{% endblock content %}