{% extends 'survey_app/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<form method = "POST" action="">
    {% csrf_token %}
  <div class="register-container">
    <h2>Verification</h2>
    <hr>
    <!--{{form|crispy}}-->
    
    <label for="new_password1"><b>New password*</b></label>
    {{form.new_password1}}
    <div class="invalid-feedback">{{form.new_password1.errors}}</div>

	  <label for="new_password2"><b>New password Confirmation*</b></label>
    {{form.new_password2}}
    <div class="invalid-feedback">{{form.new_password2.errors}}</div>
    <hr>

    <button type="submit" class="registerbtn">Verify</button>
  </div>

</form>
{% endblock content %}