{% extends 'survey_app/base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<form method = "POST" action="">
    {% csrf_token %}
  <div class="register-container">
    <h2>Reset Passwrod</h2>
    <hr>
    {{form|crispy}}
    <!--
    <label for="email"><b>Email*</b></label>
    {{form.email}}
    <p>Enter the username you gave for registration</p>
    -->
    
    <hr>

    <button type="submit" onclick="this.disabled=true;this.value='Submitting...'; this.form.submit();" class="registerbtn">Request Password Reset</button>
  </div>

</form>

{% endblock content %}