{% extends "survey_app/_base.html" %}
{% block title %}View - Surveys{% endblock %}

{% block content %}
<div class="ui aligned basic very padded segment">
    <h1 class="ui header">{{ survey.title }}</h1>
    <h3 class="ui header">You have {{ num_submissions }} submissions</h3>
    <h3 class="ui header">Survey URL: <a href="{{public_url}}">{{ public_url }}</a></h3>
    <br>
    <h1 class="ui header dividing">Share</h1>
 <br>
  <!-- AddToAny BEGIN -->
        <div class="a2a_kit a2a_kit_size_32 a2a_default_style" data-a2a-url="{{ public_url }}" data-a2a-title="Here is a survey from brainstrom: ">
            <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
            <a class="a2a_button_whatsapp"></a>
            <a class="a2a_button_facebook"></a>
            <a class="a2a_button_google_gmail"></a>
            <a class="a2a_button_sms"></a>
            <a class="a2a_button_telegram"></a>
            <a class="a2a_button_copy_link"></a>
        </div>
        <script async src="https://static.addtoany.com/menu/page.js"></script>
        <!-- AddToAny END -->
    <h1 class="ui header dividing">Results</h1>
    {% for question in questions %}
    <div class="ui basic padded segment left aligned">
        <h4 class="ui header">
            Question {{ forloop.counter }} / {{ questions|length }}: {{ question.prompt }}
        </h4>
        <ul>
            {% for option in question.option_set.all %}
            <li>
                {{ forloop.counter }}) {{option.text}}: {{ option.percent|floatformat }}%
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
<a href = "{% url 'survey-list' %}"<button class = "ui button primary">Back to survey home</button></a>

</div>

{% endblock %}