{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link class="footercontent" nk rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" crossorigin href="https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@800&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@800&family=Source+Sans+Pro&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Changa+One&family=Gemunu+Libre:wght@800&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/survey_app/css/index.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tethered</title>
</head>

<body>
    <div class="container">
        <nav>
            <a href = "/"><h3 class="logo">TETHERED</h3></a>
			
            <div class="search">
                <input class="search-bar" type="text" placeholder="Search mentors, Pitch, profiles...">
                <img src="{% static 'survey_app/images/search.png' %}" id="search-icon">
            </div>
			{% if request.user.is_authenticated %}
            <a>Community Feed</a>
            <a>Mentorspot</a>
            <a>Pitch Place</a>
            <a>Tether Room</a>
			
            <a href="{% url 'user-profile' %}">
                <button id="profile">
                    <span class="material-icons-outlined">
                        account_circle
                    </span>
                    PROFILE
                </button>
            </a>
			{% endif %}
			{% if not request.user.is_authenticated %}
            <a href="{% url 'register' %}"><button id="Sign-in">SIGN UP</button></a>
			<a href="{% url 'login' %}"><button id="Sign-in">SIGN IN</button></a>
			
			{% endif %}

			{% if request.user.is_authenticated %}
			<a href="{% url 'user_logout' %}"><button id="Sign-in">LOGOUT</button></a>
			{% endif %}
        </nav>
        <div class="slide1">
            <h1 class="slide-header">IMAGINE A PLACE...</h1>
            <p class="slide-desc">...where you can share your ideas to a worldwide group of mentors . Where new ideas emerge, take a form and revolutionalize . A place that makes it easy to work on your revolutionary idea and make an impact.
            </p>
            <img src="{% static 'survey_app/images/1.png' %}" class="slide-img">
        </div>
		
        <div class="slide2">
            <div id="slide2title">
                <h1 class="slide-header">JOIN OUR WORLDWIDE COMMUNITY OF ENTREPRENUERS</h1>
            </div>
			
            <p id="slide2desc">
			
                Our servers are organized and secure with field-based threads where you can intereact and share your ideas without clogging up a group chat.
            </p>
			{% if not request.user.is_authenticated %}
            <a href="{% url 'register' %}"><button id="hop-into-community"><span>HOP INTO COMMUINITY</span></button></a>
			{% endif %}
        </div>
        <div class="slide3">
            <h1 id="slide3header">WHERE GETTING MENTORSHIP IS EASY</h1>
            <div class="s3container">
                <div class="left">
                    <p id="slide3desc">
                        Send your pitch to your favorite mentors and build your ideas from scratch with no background.With algorithm based suggestion of mentors who can contribute maximum to your dough of ideas,it is as simple as blowing a feather........
                    </p>
                    {% if not request.user.is_authenticated %}
            <a href="{% url 'register' %}"><button id="get-started"><span>GET STARTED</span></button></a>
			{% endif %}
                </div>
                <img src="{% static 'survey_app/images/last page.png' %}" id="s3img">
            </div>
        </div>
        <div class="footer">
            <div class="footerrow" style="height: 30%;  align-items: center;">
                <a class="footertitle" style="font-size: 25px;">TETHERED</a>
                <a class="footercontent">Where everything is made simple</a>
            </div>
            <div class="footerrow">
                <a class="footertitle">EXPLORE</a>
                <a class="footercontent">Home</a>
                <a class="footercontent">Mentorspot</a>
                <a class="footercontent">Community Feed</a>
                <a class="footercontent">TETHER Room</a>
                <a class="footercontent">Sign In</a>
            </div>
            <div class="footerrow" style="height: 40%;">
                <a class="footertitle">SUPPORT</a>
                <a class="footercontent">Contact Us</a>
                <a class="footercontent">FAQ</a>
            </div>
            <div class="footerrow" style="height: 40%;">
                <a class="footertitle">LEGAL</a>
                <a class="footercontent">Privacy</a>
                <a class="footercontent">Terms & Conditions</a>
            </div>
        </div>
    </div>
</body>

</html>