{% extends "survey_app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="register-container">
        <br>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <h2>What are you interested in ?</h2>
                <hr>
                <br>
                <p>Select a topic you are interested in to help us personalize your experience</p>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" onclick="this.disabled=true;this.value='Submitting...'; this.form.submit();" type="submit">Update</button>
                <a class="btn btn-outline-danger" href="{% url 'user-profile' %}">Cancel</a>
            </div>
        </form>
    </div>


{% endblock content %}