{% extends "survey_app/removed_urls.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="register-container">
        <br>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <h2>What are you interested in ?</h2>
                <hr>
                <br>
                <p>Select a topic you are interested in to help us personalize your experience</p>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button type="submit" class="registerbtn">Submit</button>
            </div>
        </form>
    </div>
   

{% endblock content %}